@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/poppins_400.woff2') format('woff2'),
    url('/fonts/poppins_400.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/poppins_500.woff2') format('woff2'),
    url('/fonts/poppins_500.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/poppins_600.woff2') format('woff2'),
    url('/fonts/poppins_600.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/poppins_700.woff2') format('woff2'),
    url('/fonts/poppins_700.woff') format('woff');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/manrope.ttf) format('ttf');
}

html {
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  height: 100%;
  color: #000000;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  line-height: 1;
}

.btn-hover-shadow:hover {
  transition: all 0.2s ease 0s;
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
  background-color: rgb(251, 253, 255);
}
